.filtro-hover {
    transition: 0.2s;
}

.filtro-hover:hover {
    transform: translateY(-2px);
}

@media (max-width: 576px) {

    .filtro {
        font-size: 0.7rem !important;
        padding: 0.35rem 0.5rem !important;
        white-space: nowrap;
    }

    .bg-body.py-2.px-4 .d-flex {
        gap: 0.3rem !important;
        flex-wrap: nowrap !important;
    }

    .bg-body.py-2.px-4 label {
        font-size: 0.7rem;
    }

    .bg-body.py-2.px-4 input[type="date"] {
        font-size: 0.7rem;
        padding: 0.35rem 0.4rem;
        width: 125px !important;
    }

}